@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');
* {
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    scroll-behavior: smooth;
    border: none;
}

body {
    overflow-y: scroll;
}

/* ON SCROLL ANIMATIONS */

.hidden{ 
    opacity: 0; 
    filter: blur(5px); 
    transform: translateX(-100%); 
    transition: all 1s; 
} 
.show{ 
    opacity: 1; 
    filter: blur(0); 
    transform: translateX(0); 
} 
@media(prefers-reduced-motion){ 
    .hidden{ 
        transition: none;
    } 
}

/* NAVBAR */

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10vh;
}

.navBar_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.links_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.logo {
    margin-right: 12%;
}

.link_title {
    color: #00373e;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.link_title_hover {
    position: relative;
}

.link_title_hover:after {
    content: "";
    position: absolute;
    background-color: #CAFFF2;
    border-radius: 51% 25% 52% 37% / 25% 54% 23% 38%;
    top: calc(100% + 10px);
    left: 35%;
    opacity: 0;
    width: 50%;
    height: 80%;
    transition: all 300ms ease;
    z-index: -1;
}

.link_title_hover:hover:after {
    opacity: 1;
    left: 25%;
    top: 0%;
}

.link_login_hover {
    position: relative;
    transition: all 300ms ease;
    cursor: pointer; /* Dodano kursor typu pointer */
}

.link_login_hover h4 {
    color: #00373e; /* Kolor tekstu przycisku */
    font-weight: 700; /* Grubość czcionki przycisku */
}

.link_login_hover:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    width: 0%;
    height: 2.1px;
    background-color: #CAFFF2;
    transition: all 300ms ease;
}

.link_login_hover:hover:after {
    width: 100%;
}

.link_signup_hover {
    padding: 0.875em 1.25em; /* Zaktualizowano padding */
    width: 100px;
    background-color: transparent;
    border-radius: 99em;
    font-weight: 900;
    border: 1px solid transparent;
    transition: all 300ms ease;
    margin: 0 auto;
    cursor: pointer; /* Dodano kursor typu pointer */
}

.link_signup_hover h4 {
    color: #00373e; /* Kolor tekstu przycisku */
    font-weight: 800; /* Grubość czcionki przycisku */
}

.link_signup_hover:hover {
    background-color: #CAFFF2;   
}

/* HEADER */

header {
    width: 80%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #00373e;
    border-radius: 5%;
    margin-top: 40px;
    overflow: hidden;
}

.img_wrapper {
    position: relative;
    width: 100%;
}

.header_texts_wrapper {
    text-align: center;
    width: 50%;
}

.header_text {
    color: white;
    margin: 24px 12px;
}

h1 {
    letter-spacing: -.01em;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-family: Reckless Neue,sans-serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 1;
}


h2 {
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-weight: 500;
}

.header_signup {
    padding: 0.875em 1.25em; 
    width: 100px;
    background-color: #CAFFF2;
    border-radius: 99em;
    font-weight: 900;
    width: 20%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: all 300ms ease;
    margin: 0 auto;
    cursor: pointer;
    transition: all 300ms ease;
}

.header_signup:hover {
    transform: scale(1.1);
}

.img {
    content: "";
    position: absolute;
    overflow: hidden;
}

.imgnum1 {
    width: 30%;
    height: auto;
    top: -16%;
    left: -5%;
    border-radius: 21% 79% 14% 86% / 17% 20% 77% 59%;
}

.imgnum2 {
    background-color: #94954c;
    width: 366px;
    height: 366px;
    top: 40%;
    left: -5%;
    border-radius: 54% 33% 37% 19% / 40% 47% 28% 36%;
}

.imgnum3 {
    width: 30%;
    height: auto;
    top: 70%;
    left: 15%;
    border-radius: 80% 19% 14% 86% / 72% 54% 16% 0%
}

.imgnum4 {
    width: 30%;
    height: auto;
    top: 40%;
    left: 76%;
    border-radius: 21% 79% 14% 86% / 17% 20% 77% 59%;
}

.imgnum5 {
    background-color: #cafff2;
    width: 366px;
    height: 366px;
    top: -5%;
    left: 80%;
    border-radius: 56% 33% 14% 29% / 16% 23% 34% 38%;
}

/* HOW IT WORKS */

.howitworks {
    height: 50vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.howitworks_container {
    margin-top: 15vh;
    flex-direction: column;
}

.howitworks_wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 240px;
    margin: 0 auto;
}

.left_side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.right_side {
    width: 50%;
    height: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.section_title {
    margin: 24px 0;
    font-size: 16px;
    font-weight: 800;
    color: #00373e;
}

.title {
    font-size: 56px;
    width: 120%;
    line-height: 70px;
    margin-bottom: 24px;
    color: #00373e;
}

.description {
    width: 120%;
    padding: 0 0;
    color: #00373e;
    font-size: 26px;
    font-weight: 500;
    word-spacing: 0px;
    line-height: 32px;
}

.ul_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    gap: 80px;
}

.hiw_clickable {
    font-size: 18px;
    font-weight: 600;
    transition: all 300ms ease;
}

.hiw_clickable:hover {
    cursor: pointer;
    margin: 0 24px;
}


.clickableImg {
    width: 480px;
    height: 360px;
    object-fit: cover;
    border-radius: 12%;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

.howitworks_text {
    width: 120%;
    margin: 32px 24px;
    font-size: 18px;
}

.fade-in {
    animation: fadein 600ms ease;
  }
  
  @keyframes fadein {
    0% {
        scale: 0;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
  }

  .bump-in {
    animation: bumpin 600ms ease forwards;
  }

  @keyframes bumpin {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    50% {
        transform: translateY(20px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
  }

  /* TESTIMONIALS */

  .testimonials {
    width: 80%;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 120px;
  }
  
  .slider {
    overflow: hidden;
    width: 100%;
    border-radius: 8px;
}
  
.slide-track {
    display: flex;
    animation: scroll 50s linear infinite;
    width: calc(250px * 10);
  }
  
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-500px * 5)); }
  }
  
  .slide {
    width: 500px;
    height: 150px;
  }
  