@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    cursor: default;
  }
  .first_section {
    position: relative;
  }

  body {
    background-color: #e4e4e4;
  }

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 128px);
    transition: all 300ms ease;
    position: relative;
  }

  html {
    position: relative;
  }

  .header_text {
    position: relative;
    transition: all 300ms ease;
    font-size: 200px;
    text-align: center;
    margin-bottom: 190px;
  }

  .first_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_number {
    font-size: 20px;
  }

  .sections {
    margin: 128px 42px;
    margin-left: 240px;
    font-size: 24px;
    transition: all 300ms ease;
  }

  .spacing {
    letter-spacing: 5px;
  }

  .line {
    display: none;
    content: "";
    position: absolute;
    width: 10px;
    font-size: 20px;
    font-weight: 800;
    height: 100vh;
    font-weight: 600;
    color: black;
    letter-spacing: 4px;
    transition: all 300ms ease;
  }

  .line_border {
    position: relative;
    transform: rotate(90deg);
    border: 1px solid #cecece;
    top:  -394px;
    left: 100px;
  }

  .navBar_Border {
    content: "";
    position: absolute;
    top: -25px;
    left: 80px;
    width: 103%;
    height: 95%;
    border: 0.5px solid #cecece;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    letter-spacing: 4px;
  }
