@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900;1000&display=swap');
* {
    box-sizing: border-box;
    font-family: 'nunito', sans-serif;
    margin: 0;
    padding: 0;
    color: #4b4b4b;
    scroll-behavior: smooth;
    border: none;
}

/* ON SCROLL ANIMATIONS */

.hidden{ 
    opacity: 0; 
    filter: blur(5px); 
    transform: translateX(-100%); 
    transition: all 1s; 
} 
.show{ 
    opacity: 1; 
    filter: blur(0); 
    transform: translateX(0); 
} 
@media(prefers-reduced-motion){ 
    .hidden{ 
        transition: none;
    } 
}

/* NAVBAR */

body {
    overflow: hidden;
    background-color: #28398e;
    
  }

  a {
    text-decoration: none;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navBar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    left: 3%;
}
  body {
    overflow-y: scroll; 
  }
  .navBar_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navBar_Link {
    margin: 0 10px;
  }

  .hack_hover_effect {
    position: relative;
    transition: all 300ms ease;
  }
  
  .hack_hover_effect:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    transition: all 300ms ease-out;
    z-index: -1;
  }
  
  .hack_hover_effect:hover:after {
    width: 100%;
  }

  .hack_hover_effect:hover {
    color: #000;
  }

  h6 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(.5rem, 1vw, 1rem);
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 700;
  }

  .logo {
    font-weight: 800;
    margin: 24px 24px;
    font-family: 'Space Mono', monospace;
    font-size: clamp(2rem, 2vw, 1rem);
    color: #fff;
    padding: 0rem clamp(.5rem, .5vw, 1rem);
  }

  h2 {
    font-weight: 600;
    font-family: 'Space Mono', monospace;
    font-size: clamp(2rem, 2vw, 1rem);
    color: #fff;
    padding: 0rem clamp(.5rem, .5vw, 1rem);
  }


  .hack {
    font-weight: 600;
    font-family: 'Space Mono', monospace;
    font-size: clamp(.5rem, 1vw, 1rem);
    color: #fff;
    padding: 0rem clamp(.5rem, .5vw, 1rem);
  }

  .header_number {
    font-size: 32px;
  }

/* HEADER */

.header_background {
  width: 100%; 
  height: auto;
  filter: contrast(1.3)
}

.header_miles_morales {
  width: 15%;
  height: auto;
  position: fixed;
  top: 25%;
  left: 42%;
  filter: contrast(1.5);
}

.web {
  transform: scale(0.3) rotate(10deg) translateX(-50px) translateY(-1500px) scaleY(10);
  filter: contrast(1);
}
